<link rel="stylesheet" href="/css/style.css" />
<!-- Link to your CSS -->
<link rel="stylesheet" href="/css/footer.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<!-- Link to your CSS -->
<footer>
    <div class="footer-container">
        <div class="first-col">
            <div class="footer-about">
                <div class="footer-logo">
                    <img src="/images/logo.jpeg" alt="Mentor Logo" />
                </div>
                <div class="about-content">
                    <h3>About Mentor</h3>
                    <p>Mentor is dedicated to innovating the way we live by providing cutting-edge tech solutions.</p>
                </div>
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/company/mentor-knowledge-solutions/" target="_blank" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                <a href="mailto:info@mksaddis.com" class="email"><i class="fa-regular fa-envelope"></i></a>
                <a href="https://web.facebook.com/p/Mentor-Knowledge-Solutions-PLC-100068190002189" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>

        <div class="second-col footer-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/our_products">Portfolio</a></li>
                <li><a href="/Testimonials">Testimonial</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
 <div class="fourth-col contact-info">
            <h3>Let’s Connect!</h3>
            <p>Bole, Adika Bldg 3rd Floor</p>
            <p>+251930288790</p>
            <p><a href="mailto:info@mksaddis.com">info@mksaddis.com</a></p>
        </div>
        <div class="third-col footer-job-offers">
            <h3>Job Offers</h3>
            <p>Subscribe to see Available Jobs</p>
            <form action="/jobs-list" method="GET">
                <input type="email" name="email" placeholder="Your Email" required />
                <button class="jobs" type="submit">Go to the jobs</button>
            </form>
        </div>

       
    </div>
</footer>
<div class="footer-bottom">
    &copy; <%= new Date().getFullYear() %> Mentor. All rights reserved.
</div>
