<header >
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/header-special.css" />

  <div class="header-container">
    <!-- Logo Section -->
    <div class="logo">
      <img src="/images/logo.png" alt="Logo" class="logo-img" />
      <h1 class="logo-text">KITE LLC</h1>
    </div>



    <div class="topnav" id="myTopnav">
      <a href="/" class="active">Home</a>
      <a href="/about">About</a>
      <div class="dropdown">
        <button class="dropbtn">our service
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/services#service1">Wholesale Services</a>
          <a href="/services#service1">Specialized Machinery and Equipment</a>
          <a href="/services#service1">IT and Digital Solutions</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">Our praduct
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="our_products#product1">COMee</a>
          <a href="our_products#product2">eCom</a>
          <a href="our_products#product3">Data Outsourcing</a>
          <a href="our_products#product4">SIS</a>
        </div>
      </div>
     
      <a href="/testimonials">Testimonials</a>
      <a href="/contact">Contact</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
           
</header>

<script>
  function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
