<header>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/header.css" />

  <div class="header-container">
    <!-- Logo Section -->
    <div class="logo">
      <img src="/images/logo.png" alt="Logo" class="logo-img" />
      <h1 class="logo-text">KITE LLC</h1>
    </div>

    <!-- Hamburger Icon -->
    <div class="hamburger" id="hamburger">
      &#9776;
    </div>

    <!-- Navigation Links -->
    <ul class="nav-links" id="navLinks">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <ul class="nav-dropdown">
        <li>
          <a href="/services">Our Services <i class="fas fa-angle-down"> </i>&nbsp;&nbsp;</a>
          <ul class="dropdown">
            <li><a href="/services#service1">Wholesale Services</a></li>
            <li><a href="/services#service2">Specialized Machinery and Equipment</a></li>
            <li><a href="/services#service3">IT and Digital Solutions</a></li>

            
          </ul>
        </li>
      </ul>

       <ul class="nav-dropdown">
        <li>
          <a href="/our_products">Our products <i class="fas fa-angle-down"></i>&nbsp;&nbsp;</a>
          <ul class="dropdown">
            <li><a href="our_products#product1">Software</a></li>
            <li><a href="our_products#product2">Office Furniture</a></li>
            <li><a href="our_products#product3">Machine Tools</a></li>
            <li><a href="our_products#product4">More on <i class="fas fa-angle-down"></i></li>
            
          </ul>
        </li>
      </ul>
      <li><a href="/testimonials">Testimonials</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</header>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const currentLocation = window.location.pathname === '/' ? '/' : window.location.pathname;
    const navLinks = document.querySelectorAll('.nav-links a');

    navLinks.forEach(link => {
      if (link.getAttribute('href') === currentLocation) {
        link.classList.add('active');
      }
    });

    // Toggle navigation menu
    const hamburger = document.getElementById('hamburger');
    const navLinksMenu = document.getElementById('navLinks');
    hamburger.addEventListener('click', () => {
      navLinksMenu.classList.toggle('active');
    });
  });
</script>
