<header>

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/header.css" />


  <div class="header-container">
    <!-- Logo Section -->
    <div class="logo">
      <img src="/images/logo.png" alt="Logo" class="logo-img" />
      <h1 class="logo-text">MENTOR</h1>
    </div>

    <!-- Navigation Links -->
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/our_products">Our Products</a></li>
      <li><a href="/testimonials">Testimonials</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</header>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    const currentLocation = window.location.pathname === '/' ? '/' : window.location.pathname;
    const navLinks = document.querySelectorAll('.nav-links a');

    navLinks.forEach(link => {
      if (link.getAttribute('href') === currentLocation) {
        link.classList.add('active');
      }
    });
  });
</script>
