<body>
  <link rel="stylesheet" href="/css/about.css" />
  <script src="/js/scripts.js"></script>
  <link rel="stylesheet" href="/css/chat-popup.css"> <!-- Link to portfolio CSS -->
  <%- include('partials/header') %>
  <main>
    <!-- About Us Section with Image -->
    <section id="about" class="section">
      <div class="content">
        <div class="text">
          <h1>About Us</h1>
          <p>Mentor Knowledge Solutions PLC is an IT and Management Consulting firm taking an active role in the business of making organizations perform better.</p>
        </div>
        <div class="image">
          <img src="/images/mission-image.png" alt="About Us" />
        </div>
      </div>
    </section>

    <!-- Vision Section -->
    <section id="vision" class="section center-aligned">
      <h2>Our Vision</h2>
      <p>Unlocking technology potential to help organizations innovate, deliver superior customer experience, and perform better.</p>
    </section>

    <!-- Mission Section -->
    <section id="mission" class="section center-aligned">
      <h2>Our Mission</h2>
      <ul>
        <li>Provide proactive and responsive IT and management consulting services that help small and medium enterprises become stronger.</li>
        <li>Offer custom application development services for both enterprise and consumer apps based on business process management concepts.</li>
        <li>Provide technology-enabled back-office and front-office business services with sourcing arrangement.</li>
        <li>Create a platform strategy to attract top talent, and foster innovation and creativity in the workplace to retain them.</li>
        <li>Provide tailored professional development and executive education to improve the skillsets, knowledge, and competencies of business executives and IT professionals.</li>
        <li>Foster entrepreneurship and business incubation.</li>
        <li>Deliver real value to shareholders through consistent growth and profitability.</li>
      </ul>
    </section>

    <!-- Values Section -->
    <section id="values" class="section center-aligned">
      <h2>Our Values</h2>
      <ul>
        <li>Working hard to make a difference in the organizations we serve.</li>
        <li>Striving to handle each client with accountability and responsiveness.</li>
        <li>Commitment to consistent delivery of quality and value through innovation.</li>
        <li>Nurturing open communication, continuous learning, collaboration, and teamwork.</li>
        <li>Commitment to impart knowledge, provide opportunity and mentorship, and command respect.</li>
        <li>Creating an atmosphere where all staff are respected and valued.</li>
      </ul>
    </section>
    <section id="popup" class="popup">
        <%- include('chat-popup') %> <!-- Include the portfolio -->
    </section>
  </main>
  <%- include('partials/footer') %>
</body>
