<%- include('partials/header') %>
<link rel="stylesheet" href="/css/about.css" />
<body>
  <main>
    <!-- About Section -->
    <section class="about-section">
      <h1>About Mentor</h1>
      <p>
        Mentor Knowledge Solutions PLC is an IT and Management Consulting firm
        taking an active role in the business of making organizations perform
        better.
      </p>
      <p>
        Mentor has quickly become a leader in innovative tech solutions,
        specializing in web development, mobile applications, and automation
        services. Our mission is to empower businesses and individuals with
        cutting-edge technology that simplifies processes, enhances
        productivity, and fosters growth.
      </p>
      
      <button class="explore-btn" onclick="window.location.href='/services'">Explore our services</button>
    </section>

    <!-- Our Mission Section -->
    <section class="mission-section">
      <h2>Our Mission</h2>
      <div class="mission-cards">
        <div class="card">
          <h3>Innovate</h3>
          <p>
            We strive to push the boundaries of what's possible, constantly
            exploring new technologies and methodologies to deliver cutting-edge
            solutions.
          </p>
        </div>
        <div class="card">
          <h3>Empower</h3>
          <p>
            Our goal is to empower businesses and individuals with tools and
            technologies that enhance their capabilities and drive success.
          </p>
        </div>
        <div class="card">
          <h3>Connect</h3>
          <p>
            We believe in the power of connection, creating solutions that bring
            people, businesses, and technologies together in meaningful ways.
          </p>
        </div>
      </div>
    </section>
  </main>
</body>
<%- include('partials/footer') %>
