<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css"> <!-- Link to your CSS -->
    <link rel="stylesheet" href="/css/portfolio.css"> <!-- Link to portfolio CSS -->
    <title><%= title %></title>
    <script src="/js/script.js"></script>
</head>
<body>
    <%- include('partials/header') %> <!-- Include the header -->

    <!-- Welcome Section -->
    <section class="welcome-section">
        <div class="welcome-container">
            <div class="welcome-text">
                <h1>Welcome to MENTOR!</h1>
                <p>We're glad to have you here. Start exploring our site.</p>
                <a href="/request-service" class="btn-get-started">Get Started</a>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio-section" class="portfolio-section">
        <%- include('portfolio') %> <!-- Include the portfolio -->
    </section>

   
    

</body>
</html>
