<!-- Portfolio Section -->
<div class="portfolio">
  <h1>Our Products</h1>
  <div class="portfolio-container">
    <!-- COMee Product -->
    <div class="portfolio-item">
      <div class="portfolio-header">
        <i class="fa-solid fa-cart-shopping"></i>
        <h3>COMee</h3>
      </div>
      <p>Efficiently handles the entire order lifecycle, from order creation to fulfillment, delivery, and post-sales support.</p>
    </div>

    <!-- CATS Product -->
    <div class="portfolio-item">
      <div class="portfolio-header">
        <i class="fa-solid fa-shop"></i>
        <h3>CATS</h3>
      </div>
      <p>An end-to-end commodity allocation and tracking system.</p>
    </div>

    <!-- eCom Product -->
    <div class="portfolio-item">
      <div class="portfolio-header">
        <i class="fa-regular fa-building"></i>
        <h3>eCom</h3>
      </div>
      <p>A successful construction company model is all about the quality of the executed work in time.</p>
    </div>

    <!-- eFom Product -->
    <div class="portfolio-item">
      <div class="portfolio-header">
        <i class="fa-solid fa-ship"></i>
        <h3>eFom</h3>
      </div>
      <p>eFOM is a customizable, end-to-end application that helps freight forwarders and logistics operators manage their operations.</p>
    </div>

    <!-- Data Outsourcing Product -->
    <div class="portfolio-item">
      <div class="portfolio-header">
        <i class="fa-solid fa-database"></i>
        <h3>Data Outsourcing</h3>
      </div>
      <p>MAVEKO: Outsourcing data services provides increased proficiency in the entire process of data management.</p>
    </div>

    <!-- SIS Product -->
    <div class="portfolio-item">
      <div class="portfolio-header sis">
        <i class="fa-solid fa-graduation-cap"></i>
        <h3>SIS</h3>
      </div>
      <p>An innovative solution for student information management.</p>
    </div>

    <!-- ImCare Product -->
    <div class="portfolio-item">
      <div class="portfolio-header">
        <i class="fa-solid fa-hospital"></i>
        <h3>ImCare</h3>
      </div>
      <p>Pre and Postnatal maternal and child healthcare.</p>
    </div>
  </div>
</div>
