

    <div class="portfolio">
        <h1>Our Products</h1>
        <div class="slider-container">
            <div class="card-container" id="cardContainer">
                <div class="card">
                    <div class="portfolio-header">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <h3>COMee</h3>
                    </div>
                    <p>Efficiently handles the entire order lifecycle, from order creation to fulfillment, delivery, and post-sales support.</p>
                    <a href="our_products#product1" class="read-more-2">Read More</a>
                </div>

             

                <div class="card">
                    <div class="portfolio-header">
                        <i class="fa-regular fa-building"></i>
                        <h3>eCom</h3>
                    </div>
                    <p>A successful construction company model is all about the quality of the executed work in time.</p>
                    <a href="our_products#product2" class="read-more-2">Read More</a>
                </div>

           

                <div class="card">
                    <div class="portfolio-header">
                        <i class="fa-solid fa-database"></i>
                        <h3>Data Outsourcing</h3>
                    </div>
                    <p>MAVEKO: Outsourcing data services provides increased proficiency in the entire process of data management.</p>
                    <a href="our_products#product3" class="read-more-2">Read More</a>
                </div>

                <div class="card">
                    <div class="portfolio-header">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>SIS</h3>
                    </div>
                    <p>An innovative solution for student information management.</p>
                    <a href="our_products#product4" class="read-more-2">Read More</a>
                </div>

                
            </div>
            <div class="controls">
                <button class="button" onclick="scrollCards(-1)">&#10094;</button>
                <button class="button" onclick="scrollCards(1)">&#10095;</button>
            </div>
        </div>
    </div>

    <script>
        function scrollCards(direction) {
            const container = document.getElementById('cardContainer');
            const cardWidth = container.querySelector('.card').offsetWidth + 20; // Include gap width
            
            // Scroll the container
            container.scrollBy({
                left: direction * cardWidth,
                behavior: 'smooth' // Smooth scrolling
            });
        }
    </script>

