<!-- Header Include -->
<link rel="stylesheet" href="/css/portfolio.css"> <!-- Link to your CSS -->
<%- include('partials/header') %>

<!-- Portfolio Section -->
<div class="portfolio">
  <h1>OUR PORTFOLIO</h1>
  <div class="portfolio-container">
    <div class="portfolio-item" style="background-image: url('/images/cat.jpg');">
      <div class="portfolio-info">
        <h3>CATS</h3>
        <p>Enhances commodity visibility across the EDRMC supply chain, ensuring better management and donor reporting.</p>
      </div>
    </div>
    <div class="portfolio-item" style="background-image: url('/images/ecom.jpg');">
      <div class="portfolio-info">
        <h3>eCom</h3>
        <p>A solution of enterprise and mobile apps to enhance construction efficiency, reduce costs, and minimize waste.</p>
      </div>
    </div>
    <div class="portfolio-item" style="background-image: url('/images/efom.jpg');">
      <div class="portfolio-info">
        <h3>eFom</h3>
        <p>A custom app for freight and logistics management with industry-standard modules.</p>
      </div>
    </div>
    <div class="portfolio-item" style="background-image: url('/images/data.jpg');">
      <div class="portfolio-info">
        <h3>Data Outsourcing</h3>
        <p>MAWEKO: Manages orders, tracks inventory, and stocks for customer needs.</p>
      </div>
    </div>
    <div class="portfolio-item" style="background-image: url('/images/sis.png');">
      <div class="portfolio-info">
        <h3>SIS</h3>
        <p>An innovative solution for student information management.</p>
      </div>
    </div>
    <div class="portfolio-item" style="background-image: url('/images/rmcare.jpg');">
      <div class="portfolio-info">
        <h3>ImCare</h3>
        <p>A free tool for HEWs to access health content, collaborate, and streamline rural maternal and child healthcare.</p>
      </div>
    </div>
  </div>
</div>

<!-- Footer Include -->
<%- include('partials/footer') %>

