<%- include('partials/header') %>
<link rel="stylesheet" href="/css/Testimonials.css" />
<script src="/js/testimonials.js"></script>
<link rel="stylesheet" href="/css/chat-popup.css"> <!-- Link to portfolio CSS -->
<section class="testimonial-section">
  <h2>What Our Clients Say</h2>
  <div class="testimonial-cards">
    <!-- Testimonial Card 1 -->
    <div class="testimonial-card">
      <img src="/images/bits.jpg" alt="bits" class="testimonial-img" />
      <blockquote>
        "Mentor's innovative learning management system has revolutionized the
        way we deliver education at BITS. Our faculty and students have embraced
        the seamless integration of technology into our curriculum. Truly
        transformative!"
      </blockquote>
    </div>

    <!-- Testimonial Card 2 -->
    

    <!-- Testimonial Card 3 -->
    <div class="testimonial-card">
      <img src="/images/serianu.jpg" alt="Mike Johnson" class="testimonial-img" />
      <blockquote>
        "Mentor has been instrumental in enhancing our cybersecurity framework.
        Their innovative solutions and expertise in cyber risk management have
        strengthened our systems significantly. A trusted partner in security!"
      </blockquote>
    </div>

    <!-- Testimonial Card 4 -->
    <div class="testimonial-card">
      <img src="/images/disaster.png" alt="Emily Davis" class="testimonial-img" />
      <blockquote>
        "The disaster response system developed by Mentor has been a game
        changer for our operations. It has enabled us to respond more
        effectively during emergencies, saving countless lives. A truly
        impactful partnership!"
      </blockquote>
    </div>

    <!-- Testimonial Card 5 -->
    <div class="testimonial-card">
      <img src="/images/construction.png" alt="Robert Brown" class="testimonial-img" />
      <blockquote>
        "Thanks to Mentor, our internal software processes are seamless and
        error-free. Brilliant team!"
      </blockquote>
    </div>
  </div>
</section>
<section id="popup" class="popup">
        <%- include('chat-popup') %> <!-- Include the portfolio -->
    </section>
<%- include('partials/footer') %>
