header {
  background-color: #f7f7f7; /* Lighter background color for the header */
  padding: 5px 10px; /* Reduced padding for a thinner and more compact header */
  color: #111; /* Darker text color for better contrast */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 15px); /* Reduced width to decrease space on sides even further */
  margin: 0 7px; /* Further reduced margin to reduce space on sides */
  z-index: 10;
  border-radius: 8px; /* Slightly rounded corners */
  border: 1px solid f7f7f7; /* Light and subtle border */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px; /* Reduced max-width for a smaller container */
  margin: 0 auto;
  background-color: transparent;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 10px; /* Reduced margin for closer spacing */
}

.nav-links a {
  text-decoration: none;
  color: #111; /* Darker color for the links */
  font-size: 0.8rem; /* Smaller font size for links */
  font-weight: bold; /* Bold text for links */
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #333; /* Darker color for hover effect */
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 20px; /* Smaller height for the logo */
  width: auto;  /* Maintain aspect ratio */
  margin-right: 8px; /* Space between logo and text */
}

.logo-text {
  font-size: 1rem; /* Smaller font size for the logo text */
  color: #111; /* Darker text color for the logo */
  font-weight: bold; /* Bold text for logo */
}
.nav-links a.active {
  color: #0F31F2; /* Highlight color for the active link */
  font-weight: bold; /* Bold font for emphasis */
}
