header {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text visibility */
  padding: 20px;
  color: #fff;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 10;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent;

}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #ddd;


}

/* Footer */


/* Logo styling */
.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 20px; /* Smaller height for the logo */
  width: auto;  /* Maintain aspect ratio */
  margin-right: 5px; /* Reduced spacing between logo and text */
}

.logo-text {
  font-size: 1.25rem; /* Adjusted font size to match the logo's height */
  color: #fff;
  font-weight: bold; /* Maintain bold text */
}

.nav-links a.active {
  color: #d9a23e; /* Highlight color for the active link */
  font-weight: bold; /* Bold font for emphasis */
}