body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
}

main {
  padding: 50px 20px;
}



.our-technology {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: 80%;
}

.grid-pattern {
    flex: 0 0 45%; 
    height: 100%; 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.content {
    flex: 1; 
    padding: 0 20px;
}

.content h1 {
    font-size: 3rem;
    color: #d9a23e; 
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2rem;
    color: #666;
    max-width: 500px; 
    line-height: 1.8;}



.sec-header {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
     opacity: 0; 
    transform: translateY(100px); 
    transition: opacity 0.8s ease, transform 0.8s ease; 
    will-change: opacity, transform;
}

.sec-header h1 {
    margin: 0;
    font-size: 2rem;
    color: #111;
}

.sec-header p {
    margin: 10px 0 0;
    font-size: 1.1rem;
    color: #555;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 40px;
   
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
     opacity: 0; 
    transform: translateY(100px); 
    transition: opacity 0.8s ease, transform 0.8s ease; 
    will-change: opacity, transform;
}

.card .icon {
    height: 50px;
    width: 50px;
    margin: 0 auto 10px;
}


.card p {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 20px;
   
}


.card.show {
  opacity: 1; 
  transform: translateY(0); 
}
.sec-header.show {
  opacity: 1; 
  transform: translateY(0);
}

.black-icons svg {
    fill: black; 
    stroke: black; 
}