/* General Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
/* Set the background image for the entire body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Optional: To keep the image fixed as the user scrolls */
  margin: 0;
  padding-top: 80px; /* Adjust this to account for the fixed header */
}